header{
    background-color: crimson;
    color: #ffffff;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border: 5px solid chocolate;
}

main{
    background-color: #ffffff;
    color: coral;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

img{
    width: 567px;
    height: 567px;
}


.artigo-autor{
    font-weight: bold;
}